body{
    margin: 0;
    padding: 0;
    background: #100e17;
    
}
.card-title {
    margin-bottom: .75rem;
    color: black;
}
p.card-text {
    color: darkgrey;
}
.article {
    color: gray;
    text-transform: capitalize;
    text-align: left;
}

.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 90%;
    max-width: 95%;
}
p.heading{
    color: white;
}
#hello {
    font-size: 70px;
    font-family: 'Poppins';
    font-weight: bold;
    width: 500px;
    transform: translate(-20px, 10px);
    animation-duration: 1.7s;
}
    
p#welcome {
    font-size: 27px;
    transform: translate(10px, 10px);}
span{
    color: orange;
}
span#close {
    color: black;
}
.name {
    transform: translate(0%,23%);
    text-align: left;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    font-family: Poppins;
    position: absolute;
    top: -282px;
}
p#moses {
    transform: translate(0%, -42%);
    position: absolute;
    top: -190px;
    animation-delay: 0.5s;

}
    
    
span#ananta {
    font-weight: bold;
    font-size: 41px;
}
#slide2{
    position: absolute;
    bottom: 25%;
    left: 50%;
    
}
#desc {
    
    text-align: left;
    padding: 10px 0px;
    transform: translate(26px, -31px);
    position: absolute;
    top: -122px;
    left: 26px;
    animation-delay: 1s;
    
    
}
.carousel-caption {
    
    font-family: 'Montserrat', sans-serif;
   
}
#slide1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#carousel-example-2{
    
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px ;
    box-shadow: 10px 10px 15px rgb(75,75, 75);
   
}
a{
    color: white;
}
.sci
{
    margin: 5px;
    position: absolute;
    top: 96%;
    left: 48.5%;
    transform: translate(-62%,28%) scale(1);
    text-align: center;
    display: flex;
    flex-direction: row;
    
     
}
.sci li
{
    
	list-style: none;
    padding: 0px 35px;
    font-size: 24px;
    text-align: center;
}
p.heading {
    color: black;
}
.fa-facebook{
    animation-delay: 1.5s;
}
.fa-linkedin{
    animation-delay: 2s;
}
.fa-instagram{
    animation-delay: 2.5s;
}
.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    background-color: orange;
}
