
assets/ARC.jpg
assets/code.png
assets/ITB.jpg
assets/m.png
assets/m.svg
assets/yes.jpg
assets/yes2.jpg
css/animate.min.css
css/bootstrap.min.css
css/Style.css
Index.html
js/bootstrap.min.js
js/jquery-3.4.1.min.js
Type2/assets/ARC.jpg
Type2/assets/code.png
Type2/assets/ITB.jpg
Type2/assets/m.png
Type2/assets/m.svg
Type2/assets/yes.jpg
Type2/assets/yes2.jpg
Type2/css/animate.min.css
Type2/css/bootstrap.min.css
Type2/css/Style.css
Type2/Index.html
Type2/js/bootstrap.min.js
Type2/js/jquery-3.4.1.min.js
Type2/WhatsApp.jpeg
Type2/WhatsApp.png
Type2/~$out This Website & Bonus.docx
WhatsApp.jpeg
WhatsApp.png
